@tailwind base;
@tailwind components;
@tailwind utilities;

body, main {
  margin: 0;
  padding: 0;
  background: inherit;
}

@font-face {
  font-family: 'Glitch Inside';
  src: url('/public/Glitch Inside.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: 
    radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.9) 80%, rgba(0, 0, 0, 1) 100%),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 98%,
      rgba(255, 255, 255, 0.05) 95%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #000000;  /* Black background */
  background-size: 100% 100%, 100% 2em;
}

h1,h2, h3, Title, CardTitle {
  font-family: 'Glitch Inside', sans-serif;
}

main {
  font-family: 'monospace', monospace;
  background: inherit;
  color: white;
}

.description {
 color: #CCCCCC;
}