@tailwind base;
@tailwind components;
@tailwind utilities;

body, main {
  margin: 0;
  padding: 0;
  background: inherit;
}

@font-face {
  font-family: 'Glitch Inside';
  src: url('/public/Glitch Inside.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(135deg, #FED328, #ECD716);
}

h1,h2, h3, Title, CardTitle {
  font-family: 'Glitch Inside', sans-serif;
  color: #222;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 0;
    padding: 2rem;
    background: inherit;
    font-family: 'Space Mono', monospace;
}

.description {
 color: #CCCCCC;
}